body {
  margin: 0;
}

button {
  background-color: #F2C94C;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 0;
  height: 30px;
  margin-top: 24px;
}

button a {
  color: black;
  text-decoration: none;
  padding: 0 8px;
  letter-spacing: 1px;
}

.title {
  margin: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.recipeImage {
   width: 200px;
   height: auto;
}

.header {
  height: 40px;
  background-color: #56CCF2;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.pageTitle {
  float: left;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navitem {
  padding: 10px 20px;
}

.recipeContainer {
  margin: 24px;
}

.recipe {
  border: 1px solid lightgrey;
  display: flex;
  margin: 0 15px 15px 0;
}

.recipeBox {
  margin: 24px;
  display: flex;
  justify-content: flex-start;
}

.recipeContent {
  margin: 24px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
}

.footer {
  background-color: #DDF5FC;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 5px;
}

.footer a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

/**This media query will make recipes stack vertically on smaller screens**/
@media only screen and (max-width: 1000px) {
  .recipeBox {
    flex-direction: column;
  }
}
